<div class="search">
  <input
    #search
    [autofocus]="autofocus"
    (change)="inputChange(search.value)"
    (keyup)="inputChange(search.value)"
    class="z-text-input"
    type="search"
    name="search"
    id="search"
    placeholder="Please Enter"
  />
  <!-- <i *ngIf="searchText !== ''" class="icon icon-error-o" (click)="cancle()"></i> -->
  <span class="darui-cancle-icon" *ngIf="searchText !== ''" (click)="cancle()">
    <z-close-circle-filled></z-close-circle-filled>
  </span>
  <span class="darui-search-icon">
    <z-search-outlined></z-search-outlined>
  </span>
</div>
