<div class="darui-checkbox" [ngClass]="{ 'active': checked }">
  <label class="darui-checkbox-label" (click)="toggle()">
    <input type="checkbox" id="" (click)="$event.stopPropagation()" />
    <span class="darui-checkbox-material">
      <span>
        <svg
          viewBox="0 0 16 16"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="darui-checkbox-tick"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon
              fill-rule="nonzero"
              points="5.17391304 6.56521739 7.7173913 9.10869565 11.826087 5 13 6.17391304 7.7173913 11.4565217 4 7.73913043"
              class="darui-tick"
            ></polygon>
          </g>
        </svg>
      </span>
    </span>
    {{ label }}
  </label>
</div>
