.accordion-item {
  cursor: pointer;
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
  border-radius: 6px;

  &:hover {
    background-color: var(--dar-list-item-hover-bg);
  }

  &.active {
    color: var(--dar-list-item-active-text);
    background-color: var(--dar-list-item-active-bg);
  }
}