:host ::ng-deep {
  .header-container {
    background-color: var(--dar-panel-bg);
    padding: 12px 20px;
    color: var(--dar-text);

    .darui-panel-header {
      display: flex;
      align-items: center;

      .darui-panel-icon {
        font-size: 16px;
        margin-right: 8px;
        transition: all 0.25s ease-in-out;

        &.open {
          transform: rotate(180deg);
        }
      }
    }
  }

  .body-contsiner {
    background-color: var(--dar-panel-bg);;
    display: flex;
    line-height: 1.5;

    &::before {
      content: "";
      width: 30px;
      display: block;
    }

    .body-inner {
      background-color: var(--dar-base-bg);
      padding: 20px;
      flex: 1;
      border-left: 2px solid var(--dar-primary);
      color: var(--dar-text);
    }
  }
}