.accordion-menu {
  cursor: pointer;
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
}
.accordion-menu:hover {
  background-color: var(--dar-list-item-hover-bg);
}
.accordion-menu .dar-acc-menu-icon {
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
.accordion-menu .dar-acc-menu-icon.open {
  transform: rotate(90deg);
}
