.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  height: 32px;
  min-width: 64px;
  border-radius: 4px;
  padding: 0 16px;
  margin: 0;
  cursor: pointer;
}
.primary {
  background-color: var(--dar-primary);
  color: #fff;
  transition: background-color 0.3s;
}
.primary:hover {
  background-color: var(--dar-primary-5);
}
.primary:active {
  background-color: var(--dar-primary-7);
}
.primary:disabled {
  border: 1px solid var(--dar-disabled-border);
  background-color: var(--dar-disabled-bg);
  color: var(--dar-disabled-color);
  cursor: not-allowed;
}
