.dar-tags-input-container {
  border: 1px solid var(--dar-form-control-line);
  background-color: var(--dar-base-bg);
  border-radius: 4px;
}
.dar-tags-input-container .dar-tags-input-menu ul {
  display: flex;
  flex-wrap: wrap;
}
.dar-tags-input-container .dar-tags-input-menu ul li {
  margin: 4px 0 0 4px;
}
.dar-tags-input-container .dar-tags-input-add input {
  outline: none;
  border: none;
  height: 26px;
  line-height: 26px;
}
