<div class="out-container">
  <div class="dar-carousel-quick dar-carousel-pre" (click)="pre()">
    <i zLeftOutlined class="dar-carousel-pre-icon"></i>
  </div>
  <div class="dar-carousel-quick dar-carousel-next" (click)="next()">
    <i zRightOutlined class="dar-carousel-next-icon"></i>
  </div>

  <div class="dar-carousel-container">
    <div class="dar-carousel-wrapper" #wrapper>
      <ng-content select="z-carousel-item"></ng-content>
    </div>
  </div>

  <div class="dar-carousel-dots">
    <ul class="dots-wrapper" *ngIf="items.length > 0">
      <li
        class="dar-carousel-dot"
        [ngClass]="{ 'dar-carousel-dot-active': activeIndex === index }"
        *ngFor="let item of items; let index = index"
        (click)="switchStep(index)"
      ></li>
    </ul>
  </div>
</div>
