.accordion-menu {
  cursor: pointer;
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: #f2f2f3;
  }
  span {
    width: 16px;
    height: 16px;
    transition: all 0.25s ease-in-out;
    &.open {
      transform: rotate(90deg);
    }
  }
}