.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
z-carousel-item {
  height: 200px;
  display: flex;
  justify-content: center;
  line-height: 200px;
  background-color: var(--dar-base-bg);
  color: var(--dar-text);
}
